@font-face {
  font-family: "Hubballi";
  src: url("Hubballi.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  background: #1c1a5e;
  font-family: Hubballi;
}
ul {
  list-style: none;
}

li {
  text-decoration: none;
  list-style: none;
}
a {
  text-decoration: none;
}
input,
option,
button {
  font-family: Hubballi;
}

:root {
  scrollbar-color: #11023d #eee;
  scrollbar-width: thin;
}
::-webkit-scrollbar {
  width: 17px;
}
::-webkit-scrollbar-track {
  border: 4px solid #eee;
  border-radius: 13px;
  background: #eee;
}
::-webkit-scrollbar-thumb {
  border: 4px solid #eee;
  border-radius: 13px;
  background: #11023d;
}
::-webkit-scrollbar-thumb:hover {
  background: #11023d;
}

.logo {
  color: #fff;
  font-family: Hubballi;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search {
  width: 350px;
  height: 50px;
  border-radius: 40px;
  border: 1px solid #fff;
  background-color: rgba(217, 217, 217, 0);
  padding-left: 20px;
  color: #fff;
  font-family: Hubballi;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.42px;
}

.search:focus {
  outline: none;
}

.search::placeholder {
  color: #fff;
  font-family: Hubballi;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.42px;
}

.cButton {
  position: absolute;
  top: 7px;
  right: 16px;
  width: 34px;
  height: 34px;
  border: 1px solid #fff;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

.cButton:hover {
  background: #fff;
}

.addButton {
  width: 50px;
  height: 50px;
  border: 1px solid #1c1a5e;
  border-radius: 50%;
  background: #1c1a5e;
  cursor: pointer;
}

.addButton:hover {
  background: #2bc990;
}
.inboxButton {
  width: 50px;
  height: 50px;
  margin-top: -4px;
  border: 1px solid #1c1a5e;
  border-radius: 50%;
  background: #1c1a5e;
}

.inboxButton:hover {
  background: #1c1a5e;
}
.top {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.leftPannel {
  width: 517px;
  height: 840px;
  background: #313480;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.recents {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 323px;
  height: 40px;
  border-radius: 100px;
  background: #1c1a5e;
  color: #fff;
  font-family: Hubballi;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.72px;
}

.quizCards {
  width: 470px;
  height: 305px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.whiteQuizCard {
  width: 221px;
  height: 305px;
  border-radius: 10px;
  border: 1px solid #fff;
  padding-left: 15px;
  background: rgba(217, 217, 217, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.whiteQuizCardTitleStroke {
  color: #fff;
  font-family: Hubballi;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  -webkit-text-stroke: 3px #1c1a5e;
}
.whiteQuizCardTitle {
  position: absolute;
  top: 0;
  color: #fff;
  font-family: Hubballi;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}
.whiteQuiz {
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 5px;
}
.whiteQuizCardLink:link {
  padding-top: 2px;
  color: #fff;
}
.whiteQuizCardLink:visited {
  padding-top: 2px;
  color: #fff;
}
.whiteQuizCardLink:active {
  padding-top: 2px;
  color: #1c1a5e;
}
.whiteQuizNoMore {
  padding-right: 15px;
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: Hubballi;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
}
.achievementsContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.achievements {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 323px;
  height: 40px;
  border-radius: 100px;
  background: #fff;
  color: #313480;
  font-family: Hubballi;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.72px;
}

.awardList {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.award {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  color: #fff;
  font-family: Hubballi;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
}

.achievementsNoMore {
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: Hubballi;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
}

.content {
  display: flex;
  flex-direction: row;
}

.announcements {
  width: 1000px;
  height: 800px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  overflow-y: auto;
}

.addAnnouncement{
  width: 902px;
  min-height: 50px;
  border-radius: 30px;
  background: #eee;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #11023d;
  font-family: Hubballi;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.72px;

}

.addAnnouncement:hover{
  color: white;
  background: #1c1a5e;
  border: 1px solid #eee;
}

.announcement {
  width: 902px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: #eee;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.announcementTitle {
  margin-top: 15px;
  width: 865px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.announcementName {
  color: #11023d;
  font-family: Hubballi;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
  -webkit-text-stroke: 1.5px #11023d;
}

.creatorTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #11023d;
  gap: 5px;
  font-family: Hubballi;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
}

.creatorLink:link {
  color: #11023d;
}
.creatorLink:visited {
  color: #11023d;
}
.creatorLink:active {
  color: #fff;
}

.announcementContent {
  width: 856px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: 1px solid #11023d;
  background: rgba(217, 217, 217, 0);
  padding: 14px;
  margin-bottom: 10px;
}

.text {
  height: 220px;
  color: #11023d;
  font-family: Hubballi;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  background: rgba(217, 217, 217, 0);
  overflow-y: auto;
}

.text::-webkit-scrollbar {
  width: 17px;
}
.text::-webkit-scrollbar-track {
  border: 4px solid #11023d;
  border-radius: 13px;
  background: #11023d;
}
.text::-webkit-scrollbar-thumb {
  border: 4px solid #11023d;
  border-radius: 13px;
  background: #eee;
}
.text::-webkit-scrollbar-thumb:hover {
  background: #eee;
}
.friendName {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  color: #4f52ad;
  font-family: Hubballi;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.32px;
}
.frName:link {
  color: #4f52ad;
}
.frName:visited {
  color: #4f52ad;
}

.frName:active {
  color: rgba(217, 217, 217, 0);
}

.dot {
  width: 15px;
  height: 15px;
  background: #4f52ad;
  border: 0px;
  border-radius: 50%;
}

.friendQuiz {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 15px;
  color: #fff;
  font-family: Hubballi;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
}

.friendQuizName:link {
  color: #fff;
  text-decoration: underline;
}
.friendQuizName:visited {
  color: #fff;
  text-decoration: underline;
}
.friendQuizName:active {
  color: #1c1a5e;
  text-decoration: underline;
}
.rightPannel {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-left: 30px;
  margin-top: 20px;
  height: 800px;
}
.activity {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.friendsActivities {
  display: flex;
  flex-direction: column;
  height: 600px;
  gap: 8px;
  position: relative;
}
.friendsActivitiesTitle {
  color: #fff;
  font-family: Hubballi;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  -webkit-text-stroke: 0.5px #fff;
}

.emptyDot {
  width: 15px;
  height: 15px;
  background-color: #1c1a5e;
  border-radius: 50%;
  border: 1px solid #4f52ad;
}
.noMoreActivity {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #4f52ad;
  text-align: center;
  font-family: Hubballi;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
  gap: 3px;
}
.timeLine {
  position: absolute;
  background-color: #4f52ad;
  width: 1px;
  height: 275px;
  top: 41px;
  left: 7px;
  z-index: -1;
}

.blueQuizCard {
  width: 350px;
  height: 800px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #11023d;
  background: #686cca;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.blueQuizCardTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 8px;
  gap: 10px;
  color: #11023d;
  font-family: Hubballi;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  -webkit-text-stroke: 0.5px #11023d;
}

.switch {
  height: 30px;
  width: 50px;
  cursor: pointer;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  outline: none;
  border: none;
  background: #11023d;
}

.switch:hover {
  outline: none;
  border: none;
}

.blueQuizCardList {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 10px;
}
.blueQuizCardLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  color: #11023d;
  font-family: Hubballi;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
}
.blueQuizCardQuiz {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.blueQuizCardLink {
  max-width: 200px;
  overflow: hidden;
}

.blueQuizCardLink:link {
  color: #11023d;
}
.blueQuizCardLink:visited {
  color: #11023d;
}
.blueQuizCardLink:active {
  color: #fff;
}

.blueQuizCardParticipant {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
