@font-face {
  font-family: "Hubballi";
  src: url("Hubballi.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  background: #1c1a5e;
  font-family: Hubballi;
}
ul {
  list-style: none;
}

li {
  text-decoration: none;
  list-style: none;
}
a {
  text-decoration: none;
}
input,
option,
button {
  font-family: Hubballi;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  width: 445.2px;
}

.bigTitle {
  display: flex;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-size: 48px;
  letter-spacing: 0.96px;
}

.smallTitle {
  display: flex;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-size: 36px;
  letter-spacing: 0.72px;
}

.inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 19px;
  width: 445px;
}

.input {
  width: 403px;
  height: 70px;
  border-radius: 25px;
  border: 1px solid #fff;
  background: rgba(217, 217, 217, 0);
  padding-left: 20px;
  line-height: 32px;
  color: #fff;
  font-size: 32px;
  letter-spacing: 0.64px;
}

.input:focus {
  outline: none;
  border: 2px solid #fff;
}

.input::placeholder {
  color: #fff;
  line-height: 32px;
  font-size: 32px;
  letter-spacing: 0.64px;
}

.cButton {
  width: 423px;
  height: 70px;
  border-radius: 25px;
  background: #2bc990;
  border: 1px solid #2bc990;
  color: #fff;
  text-align: center;
  font-size: 32px;
  letter-spacing: 0.64px;
}

.cButton:hover {
  border: 1px solid #fff;
  background: #fff;
  color: #1c1a5e;
}

.cLink {
  text-decoration: underline;
  text-align: center;
  font-size: 24px;
  letter-spacing: 0.48px;
}

.cLink:link {
  color: #4f52ad;
  background-color: transparent;
}
.cLink:visited {
  color: #4f52ad;
  background-color: transparent;
  text-decoration: none;
}
.cLink:active {
  color: #fff;
  background-color: transparent;
}
.logo {
  position: absolute;
  top: -138px;
}
