@font-face {
  font-family: "Hubballi";
  src: url("Hubballi.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  background: #1c1a5e;
  font-family: Hubballi;
}
ul {
  list-style: none;
}

li {
  text-decoration: none;
  list-style: none;
}
a {
  text-decoration: none;
}
input,
option,
button {
  font-family: Hubballi;
}

:root {
  scrollbar-color: #11023d #eee;
  scrollbar-width: thin;
}
::-webkit-scrollbar {
  width: 17px;
}
::-webkit-scrollbar-track {
  border: 4px solid #eee;
  border-radius: 13px;
  background: #eee;
}
::-webkit-scrollbar-thumb {
  border: 4px solid #eee;
  border-radius: 13px;
  background: #11023d;
}
::-webkit-scrollbar-thumb:hover {
  background: #11023d;
}

.logo {
  color: #fff;
  font-family: Hubballi;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search {
  width: 350px;
  height: 50px;
  border-radius: 40px;
  border: 1px solid #fff;
  background-color: rgba(217, 217, 217, 0);
  padding-left: 20px;
  color: #fff;
  font-family: Hubballi;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.42px;
}

.search:focus {
  outline: none;
}

.search::placeholder {
  color: #fff;
  font-family: Hubballi;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.42px;
}

.cButton {
  position: absolute;
  top: 7px;
  right: 16px;
  width: 34px;
  height: 34px;
  border: 1px solid #fff;
  border-radius: 50%;
  background: #fff;
}

.cButton:hover {
  background: #fff;
}

.addButton {
  width: 50px;
  height: 50px;
  border: 1px solid #1c1a5e;
  border-radius: 50%;
  background: #1c1a5e;
}

.addButton:hover {
  background: #2bc990;
}
.inboxButton {
  width: 50px;
  height: 50px;
  margin-top: -4px;
  border: 1px solid #1c1a5e;
  border-radius: 50%;
  background: #1c1a5e;
}

.inboxButton:hover {
  background: #1c1a5e;
}
.top {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content {
  display: flex;
  flex-direction: row;
}

.leftPannel {
  width: 960px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  gap: 15px;
}

.QuizCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.QuizDescCard {
  width: 900px;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding-top: 10px;
  border-radius: 30px;
  background: #eee;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.QuizCardTitle {
  width: 870px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.QuizName {
  color: #11023d;
  font-family: Hubballi;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
  -webkit-text-stroke: 0.5px #11023d;
}

.creator {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  color: #11023d;
  font-family: Hubballi;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
}

.creatorLink:link {
  color: #11023d;
}
.creatorLink:visited {
  color: #11023d;
}
.creatorLink:active {
  color: #fff;
}

.Category {
  color: #11023d;
  font-family: Hubballi;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}

.QuizTags {
  display: flex;
  flex-direction: row;
  gap: 5px;
  color: #fff;
  font-family: Hubballi;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}
.QuizTag {
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 7px;
  background-color: #1c1a5e;
}

.ansDiv {
  width: 900px;
  height: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.ansContainer {
  width: 880px;
  height: 620px;
  border-radius: 25px;
  border: 1px solid #11023d;
}

.ansCard {
  width: 872px;
  max-width: 872px;
  height: 618px;
  border-radius: 25px;
  font-size: 32px;
  margin-right: 8px;
  overflow-y: auto;
}

.ansTable {
  width: 850px;
  height: 600px;
  margin-top: -1px;
  margin-left: -1px;
  border-collapse: collapse;
  border: 1px solid #11023d;
}

.ansTable td {
  text-align: center;
  border: 1px solid #11023d;
}

.ansTable th {
  border: 1px solid #11023d;
  color: #11023d;
  font-weight: normal;
}

.cellDiv {
  max-height: 215px;
  width: 365px;
  overflow-wrap: break-word;
  overflow-y: auto;
}

.cellDiv::-webkit-scrollbar-track{
  margin-top: 3px;
  margin-bottom: 3px;
  border: 4px solid #11023d;
  border-radius: 13px;
  background: #11023d;
}

.ansCard::-webkit-scrollbar-track {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 4px solid #11023d;
  border-radius: 13px;
  background: #11023d;
}
.cellDiv::-webkit-scrollbar-thumb, .ansCard::-webkit-scrollbar-thumb {
  border: 4px solid #11023d;
  border-radius: 13px;
  background: #eee;
}
.cellDiv::-webkit-scrollbar-thumb:hover, .ansCard::-webkit-scrollbar-thumb:hover {
  background: #eee;
}

.buttonDiv {
  width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 10px;
}

.scoreDiv {
  width: 400px;
  height: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-family: Hubballi;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.72px;
  border-radius: 0px 30px;
  background: #4047ff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.sButton {
  width: 320px;
  height: 50px;
  border-radius: 30px;
  background: #797efb;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  color: #11023d;
  text-align: center;
  font-family: Hubballi;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
  cursor: pointer;
}

.sButton:hover {
  border: 1px solid #797efb;
  color: #797efb;
  background: #1c1a5e;
}

.HistoryCardTitle {
  width: 900px;
  padding-top: 5px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  font-family: Hubballi;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
}

.orderBy {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.dropbtn {
  width: 80px;
  height: 35px;
  background-color: #11023d;
  border-radius: 20px;
  color: white;
  font-size: 24px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content button {
  outline: none;
  border: 1px solid #11023d;
  width: 80px;
  color: #11023d;
  font-size: 24px;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content button:hover {
  outline: none;
  color: white;
  background-color: #11023d;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #686cca;
  border-radius: 20px;
  border: 1px solid #11023d;
}

.rightPannel {
  width: 960px;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 20px;
  background-color: #313480;
}

.outlineContainer {
  width: 900px;
  border: 2px solid #fff;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.upperContainer {
  width: 900px;
  height: 400px;
  margin-top: -2px;
  padding-top: 10px;
  border: 2px solid #fff;
  border-radius: 30px;
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topPerformersTitle {
  width: 870px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.topPerfSwitcher {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-family: Hubballi;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}

.switch {
  height: 30px;
  width: 50px;
  cursor: pointer;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  outline: none;
  border: none;
  background: #11023d;
}

.switch:hover {
  outline: none;
  border: none;
}

.topPerformersName {
  color: #fff;
  font-family: Hubballi;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
}

.topPerfTableContainer {
  width: 880px;
  height: 320px;
  border-radius: 25px;
  border: 1px solid #11023d;
}

.topPerfTableCard {
  width: 872px;
  height: 318px;
  border-radius: 25px;
  font-size: 32px;
  margin-right: 8px;
  overflow-y: auto;
}

.topPerfTable {
  width: 850px;
  margin-top: -1px;
  margin-left: -1px;
  border-collapse: collapse;
  border: 1px solid #11023d;
}

.topPerfTable td {
  text-align: center;
  border: 1px solid #11023d;
}

.topPerfTable th {
  border: 1px solid #11023d;
  font-weight: normal;
  color: white;
  background-color: #4f52ad;
}

.topPerfTableCard::-webkit-scrollbar {
  width: 17px;
}
.topPerfTableCard::-webkit-scrollbar-track {
  right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 4px solid #eee;
  border-radius: 13px;
  background: #eee;
}
.topPerfTableCard::-webkit-scrollbar-thumb {
  border: 4px solid #eee;
  border-radius: 13px;
  background: #11023d;
}
.topPerfTableCard::-webkit-scrollbar-thumb:hover {
  background: #11023d;
}

.botContainer {
  width: 900px;
  height: 380px;
  padding-top: 5px;
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recentPerfTableContainer {
  width: 880px;
  height: 320px;
  border-radius: 25px;
  border: 1px solid #686cca;
}

.recentPerfTableCard {
  width: 872px;
  height: 318px;
  border-radius: 25px;
  font-size: 32px;
  margin-right: 8px;
  overflow-y: auto;
}

.recentPerfTable {
  width: 850px;
  margin-top: -1px;
  margin-left: -1px;
  border-collapse: collapse;
  border: 1px solid #686cca;
  background: #1c1a5e;
}

.recentPerfTable td {
  text-align: center;
  color: white;
  border: 1px solid #686cca;
}

.recentPerfTable th {
  border: 1px solid #686cca;
  font-weight: normal;
  color: white;
  background-color: #11023d;
}

.recentPerfTableCard::-webkit-scrollbar {
  width: 17px;
}
.recentPerfTableCard::-webkit-scrollbar-track {
  right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 4px solid #eee;
  border-radius: 13px;
  background: #eee;
}
.recentPerfTableCard::-webkit-scrollbar-thumb {
  border: 4px solid #eee;
  border-radius: 13px;
  background: #11023d;
}
.recentPerfTableCard::-webkit-scrollbar-thumb:hover {
  background: #11023d;
}
