<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
<display-name>QuizHub</display-name>
<servlet>
  <servlet-name>LogInServlet</servlet-name>
  <servlet-class>Servlets.LogInServlet</servlet-class>
</servlet>
<servlet>
  <servlet-name>RegisterServlet</servlet-name>
  <servlet-class>Servlets.RegisterServlet</servlet-class>
</servlet>
<servlet>
  <servlet-name>MultiPageServlet</servlet-name>
  <servlet-class>Servlets.MultiPageServlet</servlet-class>
</servlet>
<servlet>
  <servlet-name>OnePageServlet</servlet-name>
  <servlet-class>Servlets.OnePageServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>LogInServlet</servlet-name>
  <url-pattern>/LogIn</url-pattern>
</servlet-mapping>
<servlet-mapping>
  <servlet-name>RegisterServlet</servlet-name>
  <url-pattern>/Register</url-pattern>
</servlet-mapping>
<servlet-mapping>
  <servlet-name>MultiPageServlet</servlet-name>
  <url-pattern>/MultiPage</url-pattern>
</servlet-mapping>
<servlet-mapping>
  <servlet-name>OnePageServlet</servlet-name>
  <url-pattern>/OnePage</url-pattern>
</servlet-mapping>
</web-app>
